* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Audiowide;
}
body {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#202055, black);
    user-select: none;

}
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: none;
}
.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.7));
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    cursor: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

.btn1 {
    background: rgba(0,200,255,.1);
    /* border: none; */
    border: 1px solid rgba(0,200,255,.3);
    padding: .5em;
    margin: .5em;
    color: rgba(0,200,255,.6);
    font-size: 25px;
    font-family: Arial;
    min-width: 8%;
    min-height: 20%;
    outline: none;
}
.btn1:hover {
    color: violet;
    cursor: none;
}
.upBtn{
    width: 1em;
    height: 1em;
    background:rgba(0,200,255,.1);
    border:rgba(0,200,255,.2);
    text-align: center;
}
.upgrades-menu, .stats-menu {
    position: absolute;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, rgba(0,0,0,.5),rgba(0,0,0,.1));

}
.upgrades-menu {
    /* background: linear-gradient(to right, rgba(0,0,0,.5),rgba(0,0,0,.1)); */
    bottom: 0;
    left: 0;
  
    z-index: 9;
    /* cursor: none; */
}
.upgrade-bar {
    background: rgba(0,200,255,.1);
    padding: 0.7em;
    margin: 2px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.upgrade-bar:hover {
    opacity: 0.5;
}
.upgrade-bar:hover > p {
    color: violet;
}
.pause-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 20px cyan;
    font-family: audiowide;
}
.stats-menu {
  
    right: 0;
    top: 0;
    padding: 10px;
    border-left: 2px solid cyan;
    
}
.options-menu {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(hsla(0,0%,0%, 0.5), hsla(0,0%,0%,0.1));
    /* background: hsla(0,0%,0%,.2); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    transition: transform 0.5s ease, opacity 0.2s ease;
}
.off {
    opacity: 0;
    transform: translate(-200%, -200%);
    /* z-index: 0; */
}
.options-off {
    opacity: 0;
    transform: translate(-50%, -300%);
    
}
label {
    color: cyan;
}
.volume-slider-box {
    padding: 10px;
    margin: 10px;
    background:hsla(200, 100%, 50%, 0.2);
    width: 100%;
}
p {
    color: cyan;
}
.pause-off {
    z-index: 0;
    display: none;
}